# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Django
staticfiles/
media/
*.log
db.sqlite3

# Env / secrets
.env
.env.local

# IDE
.idea/
.vscode/
.DS_Store
sample/طلب مهمات احبار 2025 معتمد.pdf
sample/عدد 3 لاب توب.pdf
sample/كيبورد لاب توب ومازر بورد وشاحن.pdf
